2025/08/11/60_sec_lead_call_back.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-04T09:43:56.893Z",
  "id": "WTuiqAWaWMHoesC0",
  "isArchived": false,
  "meta": null,
  "name": "60 sec lead call back",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1a198aa3-71ab-4154-866e-672bf538e110",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        208
      ],
      "id": "61e66e15-b03e-4960-86b1-f95b8a157ffc",
      "name": "Webhook",
      "webhookId": "1a198aa3-71ab-4154-866e-672bf538e110"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/hooks/t9Oq9bMWtOjZsfpDCFVa/webhook-trigger/u5YeAgOT63AqmkYS2Qlf",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Webhook').item.json.body.Email }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.Phone }}"
            },
            {
              "name": "first_name",
              "value": "={{ $('Webhook').item.json.body['First Name'] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $('Webhook').item.json.body['Last Name'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        208
      ],
      "id": "98efb5c3-19df-46fc-b7e1-437cc705a13f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1AxISYIh33GopJl5wIdAmqE8Ue9OvrEBuMDacGUV1w6s",
          "mode": "list",
          "cachedResultName": "n8n New Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AxISYIh33GopJl5wIdAmqE8Ue9OvrEBuMDacGUV1w6s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AxISYIh33GopJl5wIdAmqE8Ue9OvrEBuMDacGUV1w6s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $('Webhook').item.json.body['First Name'] }}",
            "Last Name": "={{ $('Webhook').item.json.body['Last Name'] }}",
            "Email": "={{ $('Webhook').item.json.body.Email }}",
            "Phone": "=647-000-0000",
            "Date": "={{ $today }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Called",
              "displayName": "Called",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        64,
        208
      ],
      "id": "7f0b340e-2915-4700-b066-80f40ac4128d",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "chatId": "=7557078776",
        "text": "=New Lead:\nName: {{ $('Webhook').item.json.body['First Name'] }}\nEmail: {{ $('Webhook').item.json.body.Email }}\nPhone: 647-000-0000",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        208
      ],
      "id": "2c6d0553-96e6-4f1d-9ca6-14010deea703",
      "name": "Telegram",
      "webhookId": "c19e0d52-cc68-467a-9898-70a9aa2a66d2"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        256,
        -16
      ],
      "id": "934a1091-d635-48ad-93cc-e1a7b41fe2bc",
      "name": "Telegram Trigger",
      "webhookId": "7b1e5ad0-835b-48cc-a3cb-ce0a87e7593f",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Get information from a filled form and then call lead within 60 sec\n\nhttps://www.youtube.com/watch?v=PWLVWhMh7og",
        "height": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        -192
      ],
      "typeVersion": 1,
      "id": "9d1e9d71-74e6-4ca7-83f1-d97794ece148",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-04T09:43:56.893Z",
  "versionId": "443ca784-3855-4eb9-a2c4-aad25c9fb3f4"
}