2025/08/11/GitHub_Backup.json
{
  "active": false,
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Starting Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Starting Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Starting Message1": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Process Workflow Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Completed Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed Flows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Failed Flows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Workflow Data1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-11T09:49:24.266Z",
  "id": "ZR3hegfkZemjGZ30",
  "isArchived": true,
  "meta": null,
  "name": "GitHub Backup",
  "nodes": [
    {
      "parameters": {},
      "id": "80b4f4c5-1df1-48b1-af86-0d3708fc0639",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        656,
        256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.",
        "height": 417,
        "width": 385,
        "color": 4
      },
      "id": "3f175d7a-e946-416c-900c-55d89d237d93",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Main workflow loop",
        "height": 416,
        "width": 1497,
        "color": 7
      },
      "id": "5ef0c8ec-df18-4292-8d55-f2bb698c2003",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1,
              "triggerAtMinute": 33
            }
          ]
        }
      },
      "id": "b1ec6700-396e-430d-b26f-de70b7befc0d",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        656,
        464
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#notifications"
        },
        "text": "=:information_source:  Starting Workflow Backup [{{ $execution.id }}]",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "ecdabd0f-caaa-484e-a9e2-a68297d0c5e6",
      "name": "Starting Message1",
      "type": "n8n-nodes-base.slack",
      "position": [
        896,
        368
      ],
      "webhookId": "c02eb407-5547-4aa0-9ebf-46dab67b63b6",
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "9d92cf67-8748-4023-8d45-e3bc8b6972d9",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1056,
        368
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "cMHK5XrP5ZiNdnaD",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "21646644-8838-48e5-b610-5839f7e3113b",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1488,
        368
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.id }}",
        "mode": "each",
        "options": {}
      },
      "id": "b20ee9d9-1d61-4e83-828a-176839389dd8",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1696,
        384
      ],
      "typeVersion": 1,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#notifications"
        },
        "text": "=✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.",
        "otherOptions": {}
      },
      "id": "f3ad353f-f8b8-429a-ba7b-f2e9b4bba47e",
      "name": "Completed Notification",
      "type": "n8n-nodes-base.slack",
      "position": [
        1696,
        208
      ],
      "webhookId": "a0c6e8c8-5d71-40fa-b02b-63a7ed5726c4",
      "executeOnce": true,
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#notifications"
        },
        "text": "=:x: Failed to backup {{ $('Loop Over Items').item.json.id }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "8bb33973-39df-4107-bb68-b97163edde3d",
      "name": "Failed Flows",
      "type": "n8n-nodes-base.slack",
      "position": [
        1904,
        400
      ],
      "webhookId": "2a092edb-de12-490f-931b-34d70e7d7696",
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Process each workflow item for backup\nfor (const item of $input.all()) {\n  const workflow = item.json;\n  \n  // Extract date parts from createdAt\n  const createdDate = new Date(workflow.createdAt);\n  const year = createdDate.getFullYear().toString();\n  const month = (createdDate.getMonth() + 1).toString().padStart(2, '0');\n  \n  // Add processed data to workflow\n  workflow.id_firstItem = workflow.id;\n  workflow.name_firstItem = workflow.name;\n  workflow.createdAt_split_firstItem = [year, month];\n  workflow.year = year;\n  workflow.month = month;\n}\n\nreturn $input.all();"
      },
      "id": "fa9227a2-08e3-4419-89ca-2d499ef1c25b",
      "name": "Process Workflow Data1",
      "type": "n8n-nodes-base.code",
      "position": [
        1264,
        368
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-11T12:58:37.998Z",
  "versionId": "0db9dc36-dc80-4d36-909f-c3ca65e56fdd"
}