2025/08/11/MCP_Smoke_Test_Webhook.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-10T16:48:12.017Z",
  "id": "7TFLUd814zgIBiTx",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "MCP Smoke Test Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mcp-smoke-test",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        112,
        208
      ],
      "webhookId": "5b43faec-ac70-40bc-b2dd-6945b892ee55"
    },
    {
      "parameters": {
        "jsCode": "// Process the webhook data and create response\nconst requestBody = $input.all()[0].json.body || {};\n\nreturn [{\n  json: {\n    ok: true,\n    echo: requestBody,\n    timestamp: new Date().toISOString(),\n    message: \"Hello from n8n MCP smoke test!\"\n  }\n}];"
      },
      "id": "process-data",
      "name": "Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        208
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        512,
        208
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-11T09:36:45.047Z",
  "versionId": "ffff2c9e-9248-4258-8116-af18be499057"
}